
  .reply-tweet {
    display: flex;
    flex-direction: column;
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-width: 3px;
    border-bottom-style: solid;
  }
  
  .reply-box {
    display: flex;
  }
  
  .reply-textarea {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    margin-left: 10px;
    height: 100px; 
  }
  
  .reply-button-box {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
  }
  
  .reply-button {
    width: 100px;
    height: 40px;
    background-color: #1DA1F2;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
  }


.comment {
  border-bottom-color: rgb(228, 228, 228);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
}



.comment-info {
  display: flex;
  margin-left: 10px;
  flex-direction: column;
}

.comment-header {
  flex: 1;
  display: flex;
  flex-direction: row;
}


.comment-username {
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  color: #1DA1F2;
  margin-right: 8px;
}

.comment-created-at {
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  color: #657786;
  font-size: 14px;
}

.comment-content {
  font-size: 16px;
  color: #14171A;
  line-height: 1.4;
  margin-top: 10px;
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}